@{
    ViewData["Title"] = "Nosotros";
}
<h1 class="text-center">@ViewData["Title"]</h1>
<link rel="stylesheet" type="text/css" href="/css/estilos.css" />
<div class="container">
    <p>¡Bienvenidos a Zeus gimnasio!</p>
    <p>Nos complace enormemente tenerlos con nosotros.Somos Andres, Martin y Ana, los fundadores de este espacio dedicado al bienestar físico y mental.</p>

    <p>Iniciamos este proyecto con la visión de crear un lugar donde cada persona pueda alcanzar sus metas, sentirse motivada y formar parte de una comunidad activa y saludable. Desde 2015, trabajamos con el objetivo de brindarles un ambiente cómodo y profesional, con equipos de última tecnología y entrenadores altamente capacitados.</p>

    <p> Estamos aquí para acompañarlos en cada paso de su camino, ya sea que busquen mejorar su condición física, perder peso, ganar fuerza, o simplemente mantenerse activos, nuestro equipo está listo para guiarlos en el proceso.</p>
    <p>Gracias por elegirnos. ¡Nos entusiasma mucho ver todo lo que vamos a lograr juntos!</p>
</div>